<!doctype html public "✰">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title dir="ltr">Laboratorio Spinetteano - K</title>
  <meta property="og:image" content="http://flaco.com.ar/k/img/fb.png">
  <meta property="og:description" content="K- Kaleidoscopio - 35 experimentos, 35 homenajes.">
  <meta property="og:title" content="K- Kaleidoscopio - Laboratorio Spinetteano">
  <meta itemprop="name" content="K- Kaleidoscopio - Laboratorio Spinetteano">
  <meta itemprop="description" content="K- Kaleidoscopio - 35 experimentos, 35 homenajes.">
  <meta itemprop="image" content="http://flaco.com.ar/k/img/fb.png">
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:title" content="K- Kaleidoscopio - Laboratorio Spinetteano">
  <meta name="twitter:description" content="K- Kaleidoscopio - 35 experimentos, 35 homenajes.">
  <meta name="twitter:creator" content="@tincho_for_ever">
  <meta name="twitter:image:src" content="http://flaco.com.ar/k/img/fb.png">
  <meta name="twitter:domain" content="flaco.com.ar">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" media="screen" href="/k/css/kaleidoscope.css" >
  <link rel="stylesheet" media="all" href="/k/css/main.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="/k/js/kaleidoscope.js"></script>
</head>

<body>
  <div class="contenido">
        <h1>Luis Alberto Spinetta</h1>
        <ul>
          <li>23/01/1950 - ∞</li>
          <li>luz</li>
          <li>amor</li>
          <li>sol</li>
        </ul>
  </div>
  <a href="/z/" >
    <div class="kaleidoscope"></div>
  </a>
</body>
</html>
