<!doctype html public "✰">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title dir="ltr">Laboratorio Spinetteano - K</title>

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" media="screen" href="/k/css/kaleidoscope.css" >

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="/k/js/kaleidoscope.js"></script>
</head>

<body>
  <a href="/z/" >
    <div class="kaleidoscope">
    </div>
  </a>
</body>
</html>
